<body style="background-color:#35654d; color:white;">

<%@current_game = Game.where({ :id => session.fetch(:game_id)}).at(0)%>
<%@current_player = Player.where({ :id => session.fetch(:player_id)}).at(0)%>

<div class="row mb-3">
  <div class="col-md-12">
    <div>
      <h1>Before we begin...</h1>
    </div>

    <br>

    <h4>Instructions</h4>

    <p>There is a reason this website is free and someone with limited experience could create it in a week. Follow these instructions:</p>

    <ol>
      <li>House rule: Don't be a dick. Successfully cheating is not an accomplishment.</li>
      <li>Set your browser to auto-refresh
        <ul>
          <li>
            Add an auto-refresh extension to your browser (<a href="https://chrome.google.com/webstore/detail/auto-refresh/ifooldnmmcmlbdennkpdnlnbgbmfalko?hl=en" target="_blank">for Chrome users</a>)
          </li>
          <li>The linked auto-refresh extension for Chrome will only refresh this tab</li>
          <li>Set your refresh for every 15 seconds, or faster if you prefer</li>
        </ul>
      </li>
      <li>Unsaved active games will be deleted after 48 hours</li>
      <li>Let me know what's not working well</li>
    </ol>

    <p>Erica, Master of Games</p>

    <br>

    <div>
      <%if @current_player.id == @current_game.creator_id%>
        <%name= "you"%>
      <%else%>
        <%name = @current_game.createdby%>
      <%end%>
      <% if @current_player.current_game_id != session.fetch(:game_id)%>
        <h4>This game was created by <%= name %>. Ready to play?</h4>
        <form action="/take_a_seat" method="post">
          <button style = "background-color:red; color:white;">Take a seat at the table</button>
        </form>
      <%else%>
        <h4>Who's at the table</h4>
          <div class="row mb-3">
            <div class="col-md-6">
              <table class="table" border=1 bordercolor=white>
                <% @current_game.theplayers.each do |player| %>
                  <tr>
                    <td style = "color:white"><%=player.name%></td>
                    <td><img src="<%= player.image %>" height=100></td>
                  </tr>
                <%end%>
              </table>
            </div>
          </div>
        <h4>Pick your deck</h4>

          <div>
            <p>Current image:</p>
            <img src="<%= Card.first.back_image %>" height=200>
          </div>

          <%if @current_player.id == @current_game.creator_id%>
            <form action="/change_deck_image" method="post">
              <div>
                <label for="image_box">New image</label>
                <input id="image_box" name="query_back_image" value="<%= @current_player.image %>" style="width:100%">
              </div>
              <div style="margin-top:5px">
                <button style="background-color:#5BB2D7">Update deck image</button>
              </div>
            </form>
          <%end%>

          <br>
          <br>

        <div style="">
          <a href="/start_the_game" class="btn btn-block btn-outline-secondary" style="
              background-color:red;
              color:white;
              font-size:30px;">
            The gang's all here, let's begin!
          </a>
        </div>

        <br>

        <div style="">
          <a href="/delete_game/<%=@current_game.id%>" class="btn btn-block btn-outline-secondary" style="
              background-color:#BCC5C9;">
            Never mind, delete this game.
          </a>
        </div>

      <%end%>
    </div>

  </div>
</div>

<br>

</body>
